* {
    margin: 0;
    padding: 0;
}

.header {

    overflow: hidden;
    background-color: green;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: double;
    padding: 15px 15px;
    justify-content: space-around;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 25px;
    border-radius: 4px;
    letter-spacing: 1px;

}

.header a.logo {
    font-size: 1.2rem;
    font-weight: bolder;
}

.header a:hover {
    background-color: #ddd;
    color: #333;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}


body {
    background-color: lightgreen;
}

p {
    font-size: 1.2rem;
}


p1 {
    font-size: 2rem;
}

h1 {
    text-align: center;
}

nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 2px;
    line-height: 50px;
    background: #333;


}

nav a {
    text-decoration: none;
    color: white;

}

a:hover {
    background: transparent;
    border: 1px solid indianred;
    transition: 0.4sec;

}